              
<!--Footer-->
<footer class="footer text-white bg-inverse">
    
        <!--Footer Links-->
        <div class="container">
    
            <!-- Footer links -->
            <div class="row text-center text-md-left">
    
                <!--First column-->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">MTG RPG</h6>
                    <p>Magic: the Gathering Role Playin Game - Role playing game designed by Stig Baker which combines classic RPG context with Magic cards as a core game mechanic.</p>
                </div>
                <!--/.First column-->
    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">About</h6>
                    <p><a href="#!">FAQ</a></p>
                    <p><a href="#!">Game Rules</a></p>
                    <p><a href="#!">Contact Us</a></p>
                </div>
                <!--/.Second column-->
    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Magic Resources</h6>
                    <p><a href="#!">Wizards</a></p>
                    <p><a href="#!">Gatherer</a></p>
                    <p><a href="#!">Cockatrice</a></p>
                </div>
                <!--/.Third column-->
    
                <hr class="w-100 clearfix d-md-none">
    
                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="title mb-4 font-bold">Contact</h6>
                    <p><span class="glyphicon glyphicon-envelope" style="color: lightgray"></span> info@mtgrpg.com</p>
                </div>
                <!--/.Fourth column-->
    
            </div>
            <!-- Footer links -->
    
            <hr>
    
            <div class="row py-3 d-flex align-items-center">
    
                <!--Grid column-->
                <div class="col-md-8 col-lg-9">
    
                    <!--Copyright-->
                    <p class="text-center text-md-left grey-text">© 2017 MIT: <a href="https://github.com/BakerNet/"><strong> BakerNet</strong></a></p>
                    <!--/.Copyright-->
    
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-4 col-lg-3 ml-lg-0">
    
                    <!--Social buttons-->
                    <div class="social-section text-center text-md-left">
                        <ul>
                        </ul>
                    </div>
                    <!--/.Social buttons-->
    
                </div>
                <!--Grid column-->
    
            </div>
    
        </div>
    
    </footer>
    <!--/.Footer-->
                    