<ul class="nav navbar-nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]='{exact: true}' class="nav-item">
    <a class="nav-link" routerLink="/{{mode}}">Dashboard</a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/{{mode}}/notes">Notes</a>
  </li>
  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="/{{mode}}/rules">Game Rules</a>
  </li>
  <li routerLinkActive="active" class="nav-item ">
    <a class="nav-link" routerLink="/home">Switch Campaign</a>
  </li>
</ul>
